.root {
    -fx-background-color: rgb(33, 32, 32);
}

Label {
    -fx-text-fill: white;
}

.toolBarButtons {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.toolBarButtons:hover {
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-background-color: white;
}


#close_button:hover {
    -fx-background-color: red;
    -fx-text-fill: white;
}

/* toolbar section can override css properties from being inherited from parent */
#topSection {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 0 0 2 0;
}